* {
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: courier new;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #57e6d7;
  color: black;
}

.topnav a.active {
  background-color: #009688;
  color: white;
}

.topnav .icon {
  display: none;
}

.right-lnk {
  float: right;
}

.team {
  padding-top: 30px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.herobanner {
  display: flex;
  width: 100%;
}

.herobanner img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topmargin {
  margin-top: 15px;
}
.teammembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.customercards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.customercard {
  margin: 10px 20px;
  background-color: white;
  width: 300px;
  min-width: 250px;
}
.ourwork {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #333333;
  justify-content: space-around;
}
.card {
  text-align: center;
}
.ourwordcard {
  background: none;
  color: white;
  font-family: "system-ui";
}
.ourwordcard p {
  margin-top: 10px;
}
.imagecustomer img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.customercontent {
  display: flex;
  flex-direction: column;
  padding: 9px;
}
.customercontent h5 {
  margin-top: 10px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 31px;
}

.follow-text {
  font-size: 24px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 45px;
  background-color: #009688;
  color: white;
  border: 5px solid #009688;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

.contact-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
  width: 100%;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 60px;
  box-sizing: border-box;
}

.add-button {
  position: absolute;
  top: -25px;
  right: 30px;
  z-index: 1;
}

.add-button-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #009688;
  color: #fff;
  font-size: 24px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.add-button-circle:hover {
  background-color: #007c6e;
}

.addrress {
  display: block;
  flex-direction: column;
  margin-left: 10px;
}
.addrress h2 {
  display: inline;
}
.addrress h2 span {
  border-bottom: 5px solid #009688;
}
.addrress h2 h3 p div {
  margin-top: 13px;
}

.contact-form {
  max-width: 900px;
  width: 50%;
  min-width: 300px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: #2d2929f7;
  margin: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(59, 56, 56, 0.3);
}

.form-row {
  display: flex;
  justify-content: space-between;
}
#checkbox {
  width: 35px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.label-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.label-container i {
  font-size: 21px;
  color: #009688;
  padding: 5px;
}

.label-container span {
  margin-left: 10px;
}
.submit-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
